/* --- Toner Theme ---*/

.content-container {
  min-height: 100vh;
  background: #ecf0f5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: flex;
  width: 100%;
  -webkit-box-align: stretch;
  align-items: stretch;
}
.sidenav-wrapper {
  background: #222d32;
  position: sticky;
}

.content-right {
  padding: 20px;
  color: #000;
  width:100%;
  overflow: auto;
}
.sidebar .nav-link {
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-align-items: center;
  align-items: center;
  white-space: nowrap;
  padding: 0.8rem 1.188rem;
  color: #a3a3a3 !important;
  -webkit-transition-duration: 0.45s;
  -moz-transition-duration: 0.45s;
  -o-transition-duration: 0.45s;
  transition-duration: 0.45s;
  transition-property: color;
  -webkit-transition-property: color;
  height: 46px;
  padding-left:30px
}
/* .sidebar .nav-link:hover, .nav-link.active, .menu-icon:hover{
  color: #fff !important;
  background: #000 !important;
} */


.menu-icon{
  margin-right: 1.25rem;
  font-size: 0.8125rem;
  line-height: 1;
  background: #020202;
  width: 31px;
  height: 31px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.menu-icon.active, .menu-icon:hover{
  border: 1px solid #9e9e9e !important;
}
.card{
  background:#fff;
}
.form {
  background: #fff;
  float: left;
  margin-bottom: 1%;
  padding: 2%;
  width: 100%;
  max-width: 1250px;
}
.form-content {
  /* background:rgba(155, 163, 169, 0.67);
  border-top-left-radius: 10% 15%;
  border-bottom-right-radius: 10% 15%;
  padding: 5%; */
  padding:2%;
  width:100%;
}
.form-heading {
  text-align: center;
  margin-top: 8%;
  margin-bottom: -15%;
  color: #495057;
}
thead {
  background: #fff;
  color: #000;
  border: 1px solid #bbb;
}
.overflow-scroll{
  overflow: scroll;
}
@media (max-width: 1492px) {
  .content-right {
    padding:40px 10px;
  }
}

@media (max-width: 768px) {
  /* .content-right {
    display:block;
    padding:0;
  } */
  #form-wrapper{
    padding: 8px !important;
  }
  .form-content{
    padding:10px;
    border-radius:0;
  }
  .form{
    padding: 5%;
    width: 100% !important;
  }

}
@media (min-width:768px) {
  #not-show-on-large-screens .card-header{
    display: none !important;
  }
}
